<a href="https://colab.research.google.com/github/pyonan/Basics-of-Python/blob/main/practical1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EDA using Python
## Experiment-1
### Python Basics

In [ ]:
# First Program
print("I am learning Python")

I am learning Python

In [ ]:
print("I am at Symbiosys")

I am at Symbiosys

# Basic Programs - Experiment-1

In [ ]:
# First Python Program
print("hello, welcome to python programming")

hello, welcome to python programming

In [ ]:
# Many Statements
print("hi")
print("how are you?")
print("have a good day")
print("learning python is fun!")

hi
how are you?
have a good day
learning python is fun!

In [ ]:
# many statements using semicolon
print("my"); print("name"); print("is"); print("ananya")

my
name
is
ananya

In [ ]:
# same line multiple statements
print("my", end=' '); print("name", end=' '); print("is", end=' '); print("ananya")

my name is ananya

In [ ]:
# print numbers
a=3
print(a)
print(374)
print(5474827482)

3
374
5474827482

In [ ]:
# variables
x=10
y="hello world"
print(x); print(y)
x=y
y=65
print(x); print(y)

10
hello world
hello world
65

In [ ]:
# many values to multiple variables
x,y,z="apple", "banana", "orange"
print(x); print(y); print(z)

apple
banana
orange

In [ ]:
#case-sensitive
a=4
A="Sally"
print(a); print(A)

4
Sally

In [ ]:
#addition
a=2
b=3
print(a+b)

5

In [ ]:
# subtraction
print(b-a)

1

In [ ]:
# multiplication
print(a*b)

6

In [ ]:
# division
print(b/a)

1.5

In [ ]:
#understanding data types
x=10 # integer
y=3.14 # float
z="python" # string
flag=True # flag
comp=3+2j

print(type(x))
print(type(y))
print(type(z))
print(type(flag))
print(type(comp))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [ ]:
# taking input from user
name=input("enter your name: ")
print("hi", name)

enter your name: ananya
hi ananya

In [ ]:
# calc
a=int(input("num1: "))
b=int(input("num2: "))
sum=a+b
diff=a-b
mul=a*b
div=a/b
print("1: sum, 2: difference, 3: multiplication, 4: division")
ch=int(input("enter your choice: "))
if ch==1:
  print(sum)
elif ch==2:
  print(diff)
elif ch==3:
  print(mul)
elif ch==4:
  print(div)
else:
  print("invalid input")

num1: 6
num2: 3
1: sum, 2: difference, 3: multiplication, 4: division
enter your choice: 2
3

In [ ]:
# average of marks
st=10
sum=0
for i in range(st):
  m=float(input("enter marks: "))
  sum+=m
avg=sum/st
print("sum: ", sum)
print("average marks: ", avg)

enter marks: 13
enter marks: 14
enter marks: 17.5
enter marks: 18
enter marks: 20
enter marks: 9
enter marks: 15
enter marks: 12
enter marks: 19.5
enter marks: 18
sum:  156.0
average marks:  15.6

In [ ]:
# area of rectangle
l=float(input("length: "))
b=float(input("breadth: "))
area=l*b
print(area)

length: 12
breadth: 5
60.0

In [ ]:
# area of circle
r=float(input("radius: "))
area=2*(3.14)*r
print(area)

radius: 15.92
99.97760000000001

In [ ]:
# * vs **
print(3*3)
print(3**3)

9
27

In [ ]:
# appending a tuple
(3,4,5)+(6,7,8)

(3, 4, 5, 6, 7, 8)

#